html {
    min-height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #204051;
    min-height: 95vh;
    height: 100vh;
    overflow: hidden;
    font-family: monospace;
}

.calculator {
    align-self: center;
    display: grid;
    grid-template: 
    "screen"
    "buttons";
    margin: 0 auto;
    padding: 10px 0 10px 0;
    background-color: #E7DFD5;
    border-radius: 10px;
}

.screen {
    grid-area: screen;
    display: grid;
    align-self: center;
    justify-self: center;
    justify-items: end;
    text-align: right;
    width: 401px;
    height: 70px;
    background-color: #E7DFD5;
    font-size: 30px;
    overflow: hidden;
}

.buttons {
    grid-area: buttons;
    height: 500px;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-template-areas: 
        "clear back back divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "decimal zero equal add";
}

.btn {
    background-color: #3B6978;
    border: none;
    font-size: 25px;
    color: #F3F4ED;
    font-family: monospace;
}

.operator {
    background-color: #3B6978;
}

.clear {
    background-color: #FA7D09;
}

/* Buttons grid */
#number-0 {
    grid-area: zero;
}

#number-1 {
    grid-area: one;
}

#number-2 {
    grid-area: two;
}

#number-3 {
    grid-area: three;
}

#number-4 {
    grid-area: four;
}

#number-5 {
    grid-area: five;
}

#number-6 {
    grid-area: six;
}

#number-7 {
    grid-area: seven;
}

#number-8 {
    grid-area: eight;
}

#number-9 {
    grid-area: nine;
}

#add {
    grid-area: add;
}

#subtract {
    grid-area: subtract;
}

#multiply {
    grid-area: multiply;
}
#divide {
    grid-area: divide;
}

#power {
    grid-area: power;
}

#back {
    grid-area: back;
    background-color: #FA7D09;
}

#equal {
    grid-area: equal;
}

#decimal {
    grid-area: decimal;
}